<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Checkbox Logger App</title>
    <script src="/dist/app.js"></script>
</head>
<body>
    <div>
        <a>Cross-site scripting (XSS)</a>
        <p>
            <input type="checkbox" id="myCheckbox"> enable protection 
        </p>
        <input type="text" id = "textinput1">
        <p>
            <button id = "button1">Enter</button>
        </p>
    </div>
    <div>
        <a>Cross Site Request Forgery (CSRF)</a>
    </div>
</body>
</html>